body {
  background-image: url('images/headershape.svg');
}

.logo {
  font-family: 'Poppins', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  
}

.menu {
  display: flex;
  justify-content: space-between;
}

.main_header {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 100px;
  padding-left: 20px;
  
}

.about_career {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-top: 0px;
  padding-left: 20px;

  
}

.connect_section {
  width: 117px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  padding-left: 20px;
}

.list {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;
width: 117px;
height: 24px;
flex: none;
order: 2;
flex-grow: 0;
list-style: none;
padding-left: 20px;
}

.list-item {
  padding-left: 0;
}
